<div class="card">
  <div class="card-header">
    <div class="card-header-actions">
      <button
        type="button"
        class="btn btn-block btn-primary"
        (click)="guardar()"
      >
        <i class="fa fa-save"></i>
      </button>
    </div>
    <ul class="pagination">
      <li
        class="page-item"
        [class.active]="i == consultaActual"
        *ngFor="let consulta of consultasTodos; let i = index"
      >
        <a
          class="page-link"
          href="javascript: void(0)"
          (click)="aplicarConsulta(consulta, i)"
          >{{ consulta.nombre }}</a
        >
      </li>
    </ul>
  </div>
  <div class="card-body">
    <table class="table table-sm">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th
            *ngFor="let docente of docentes"
            [className]="getClassName(docente.carreraId)"
          >
            <div>
              <span class="arriba-abajo">{{ docente.nombre }}</span>
            </div>
          </th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th *ngFor="let docente of docentes">
            <div>
              <span>{{ docente.horas }}</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asignatura of asignaturas; let i = index">
          <td *ngIf="mostrar(i)" [attr.rowspan]="extenderFilas(i)" [className]="getClassName(asignatura.carreraId)">
            <span class="arriba-abajo" style="width: fit-content;">Curso {{asignatura.nivel}}{{asignatura.paralelo}}</span>
          </td>
          <td>
            <span>{{ asignatura.nombre }}</span>
          </td>
          <td>
            <span>{{ asignatura.horas }}</span>
          </td>
          <td *ngFor="let docente of docentes">
            <input
              id="{{ asignatura.id }}_{{ docente.id }}"
              name="{{ asignatura.id }}"
              type="radio"
              (change)="asignar(asignatura.id, docente.id)"
            />
          </td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>
</div>
